<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <style>
        body {
            background-image: url("https://raw.githubusercontent.com/HSC-1/HSC-1.github.io/main/_posts/image/DeepBeef_1.png");
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: top;
        }
    </style>
</head>

<body>

    <div class="head">
        <h2>
            DeepBeef
            <!-- <img alt="로고"
                    src="https://raw.githubusercontent.com/HSC-1/HSC-1.github.io/main/_posts/image/DeepBeef_1.png"
                    width="200px" style="float: right;"/> -->
        </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <div class="file-upload">
            <button class="link-button" type="button" onclick="location.href='project.html'">프로젝트 소개</button>
            <button class="link-button" type="button" onclick="location.href='maker.html'">제작자</button>
            <!-- <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button> -->
            <form method="POST" enctype=multipart/form-data name="autosubmit" onsubmit="return false;">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"
                    name="image">
                    <div class="drag-text">
                        <h3>Drag and Drop </h3>
                    </div>
                    
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" id="face-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove
                            <span class="image-title">Uploaded Image</span>
                        </button>
                    </div>
                </div>
                <div class="show-predict">
                <!-- <input type=submit> -->
                <img src="static/{{img_loc}}">
                <br>
                {{ label }}
                {{ prime }}
                {{ choice }}
                {{ Select }}
                이 고기의 등급은 {{ max }}의 확률로 {{ max_label}} 입니다.
                </div>
            </form>
        </div>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();
                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                    $('.image-title').html(input.files[0].name);
                    document.autosubmit.submit()
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload();
            }
        }
        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
    <script>
        // document.autosubmit.submit()
    </script>
</body>

</html>